.comment-emoji-container-cover {
  position: relative;
  .emoji--container {
    display: none;
  }
  .comment-emoji-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) scale(0.3);
  }

  &:hover {
    .emoji--container {
      display: flex;
      background: whitesmoke;
      z-index: 1090;
    }
  }
}

.user-name-popover-container {
  position: relative;
  min-height: 100px;
  .user-name-popover {
    img {
      width: 100%;
      border-radius: 9999px;
      border: solid 1px rgba(1, 1, 1, 0.2);
    }

    .user-name-popover-name {
      font-weight: bold;
      font-size: 1.1rem;
      color: #000;
    }

    .user-name-popover-actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
.user-name {
  color: #000;
  font-weight: bold;
}
